

@media screen and (min-width: 760px){

    .AddPage {
        background-color: #f2f4f7;
        display: grid;
        grid-template-columns: 15vw 70vw;
        
        justify-content: space-around;
        align-content: space-around;
        grid-gap:5vw;
    }
    
    .align {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
}


.AddPage {
    background-color: #f2f4f7;
    display: grid;
    
    
    
   
}

.align {
    display: grid;
    
}
